*{ margin:0px; padding:0px; border:0px; }
body{background:url(imagens/bg.jpg); background-position:top; background-repeat:repeat; text-align:center; color: #333; font-size: 11px; line-height:20px; font-family: Tahoma; }

#geral{width:1000px; height:auto; margin:0 auto; text-align:left; }

#header{float:left; width:1000px; }

.logo{width:285px; float:left; margin:20px 0 0 20px; }	

#tels{float:left; margin:51px 0 0 245px; }

#menu{float:left; width:1000px; margin-top:20px; }
#menu li{list-style:none; float:left;}
#menu li a{display:block; height:59px; text-indent:-8000px; background:url(imagens/menu.png);}
#menu #home{width:228px;background-position:0px 0px;}#menu #home:hover{background-position:0px -59px;}
#menu #empresa{width:164px;background-position:-228px 0px;}#menu #empresa:hover{background-position:-228px -59px;}
#menu #imoveis{width:156px;background-position:-392px 0px;}#menu #imoveis:hover{background-position:-392px -59px;}
#menu #local{width:178px;background-position:-548px 0px;}#menu #local:hover{background-position:-548px -59px;}
#menu #contato{width:274px;background-position:-726px 0px;}#menu #contato:hover{background-position:-726px -59px;}

#center {float:left; width:1000px; }

#slides {width: 75%; margin-top:10px; max-width: 800px; margin-left: 50px; clear: both; margin-bottom:50px; }

#busca {margin-top:60px; margin: 0 auto; width:710px; height:400px; }
#busca h2 {margin-left:260px; color: #000040; margin-bottom:10px; font-size:23px; }
#busca h4 {margin-left:270px; margin-bottom:20px; font-size:14px; }

#casa, #apartamento, #comercial, #terreno {float:left; margin-right:20px;}
#sitio {float:right; width:150px; height:100px;}

.selTip{display:block; margin:0 auto; margin-top:11px; width:62px; height:22px; background:url(imagens/selecione.png); }
	
.selTip:hover{background-position:right;}

#imgButton{margin-left: 310px; margin-top: 15px;}

#footer {clear:left; width:100%; height:57px; text-align:center; margin-top:100px; background:url(imagens/bg_rod.jpg); }
	
#rodape{position:relative; width:1000px; height:57px; margin:0 auto; text-align:left; }
	
#rodape p {color:#FFF; font-size: 13px; padding-top: 5px; margin-left:70px;}

#imgLogin { float: right; margin: 0 10px 0 0;}
#redesociais {margin-right:45px;padding-top:15px ;}
.twitter, .google {width: 30px; float: right;margin-left:10px;}
.facebook {width: 30px; float: right; }

/*--------------------------- EMPRESA ---------------------------*/
#empresa h2 { margin: 15px 0 15px 30px; color: #000040; font-size:23px; }
#empre { width:800px; font-size:15px; height:auto;margin-left:90px;margin-top:20px; margin-bottom:50px;}
#empre h3 { color: #C70000; margin-bottom:5px;}
.simbEmpresa { color: #000; float:left; margin-right:5px; }
.bannerEmpresa { width:700px; margin-left:150px; margin-top:20px; border-radius:10px;}

/*--------------------------- LOCALIZAÇÃO ---------------------------*/
#titulo { width:900px; margin-left: 50px; border-bottom: 3px solid #C70000; }
#localizacao h2 { margin: 15px 0 15px 30px; font-size:23px; color: #000040;}
.agencCen, .agencEstre { padding-right:40px; float: left; margin-right:70px; border-right: 1px solid #C70000;}
.agencKo { float: left;}
.locais { font-size: 15px; width:900px; margin-top: 20px; margin-left: 70px; border-radius:15px;font-family: Segoe UI; font-weight:bold;  }
.locais h4 { color:#000040; }

/*--------------------------- CONTATO ---------------------------*/
#tituloContato { width:900px; margin-left: 50px; border-bottom: 3px solid #C70000;}
#tituloContato h2 { margin: 15px 0 15px 30px; font-size:24px; color: #000040; }

.contato{width:500px; float:left; font-family: Segoe UI; font-weight:bold; }
.localizacao { margin-right:40px; border-radius:15px; float: right; width:350px; height:460px; margin-bottom:100px; margin-top:70px; font-family: Segoe UI; font-weight:bold;  }
.localizacao h4 {margin-left:20px; margin-bottom:10px; font-size: 16px; color: #C70000}
.iconAgenc {color:#940000;float:left; margin-right:5px;}
.localizacao p {margin-left:20px; margin-bottom:10px; font-size:15px;}
.agencias {width: 300px; height: 130px; margin-top:20px; border-bottom:1px solid #C70000;}
.agenciaKo {width: 300px; height: 130px; margin-top:20px;}
.cont {width: 100%; height: auto;}
.form{width:500px;float:left;clear:both;padding:0px 0 40px 20px; margin-top:20px;}
.form_row{width:500px;float:left;clear:both;margin:20px 0 0 0;}
.form_row label{width:120px;float:left;padding:5px 20px 0px 0;font-size:15px; color:#685E5E; text-align:right;}
.form_input{width:320px;height:35px;float:left;padding:0px 0px 0 10px; background-color:#FFF; border: 2px solid #ECC579; color:#000;}
.form_textarea{width:320px;height:70px; font-family: Segoe UI; float:left;padding:10px 0px 30px 10px; background-color:#FFF; border: 2px solid #ECC579; color:#000;font-size:12px;}
input.form_submit{ margin-left:210px; margin-top: 30px; clear:both; border: 1px solid #000; width:149px; height:34px; text-align:center; color:#fff; font-size:16px; background: #666666;font-weight:bold; padding:0 0 0 0px; }