<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sistemacep</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="br.com.cep.entidade.Estado"/>
    <mapping class="br.com.cep.entidade.Municipio"/>
    <mapping class="br.com.cep.entidade.Bairro"/>
    <mapping class="br.com.cep.entidade.Cep"/>
    <mapping class="br.com.cep.entidade.Pessoa"/>
    <mapping class="br.com.cep.entidade.Funcionario"/>
    <mapping class="br.com.cep.entidade.Endereco"/>
    <mapping class="br.com.cep.entidade.Perfil"/>
    <mapping class="br.com.cep.entidade.Usuario"/>
    <mapping class="br.com.cep.entidade.Funcao"/>
    <mapping class="br.com.cep.entidade.TipoImovel"/>
    <mapping class="br.com.cep.entidade.Status"/>
  </session-factory>
</hibernate-configuration>
