root { 
    display: block;
}

body {
    background: url(../imagens/sistema2.jpg) fixed no-repeat center ;
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    font-family: SEGOE UI;
    color: #FFF;
}

#geral {
    width: 800px;
    margin: 0 auto;

}

img {
    width: 300px;
    margin-top:20px;
    margin-bottom: 20px;
}