root { 
    display: block;
}

body {
    font-family: Segoe UI;
    background:url(../imagens/bg.jpg); background-position:top; background-repeat:repeat;
}

#geral {
    width: 800px;
    margin: 0 auto;
    
}

img {
    width: 300px;
    margin-top:20px;
    margin-bottom: 20px;
}