root { 
    display: block;
}

body {
    background: url(../imagens/sistema2.jpg) fixed no-repeat center ;
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -khtml-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    font-family: SEGOE UI;
    font-weight: bold; 
    color: #222222;
}

#sair {font-weight: bold; margin-left: 600px; color: #222222; font-size: 18px;}
#sair a:link {text-decoration: none;color: #222222}

#geral {
    width: 800px;
    margin: 0 auto;

}

img {
    width: 300px;
    margin-top:20px;
    margin-bottom: 20px;
}